.createTodo-Container{
  display: grid;
  gap: 20px;
  grid-template-columns: minmax(200px, 600px) auto;
  border:  solid rgb(208, 176, 176);
  border-radius: 20px;
  margin-top: 50px;
  padding: 40px;
}

#input {
  background-color: rgb(219, 188, 188);
  font-size: 20px;
}

#button {
  background-color: rgb(182, 143, 143);
  color: black;
  border: 2px black;
}

